@use "utilities/variables";

@use "base/reset";
@use "base/body";
@use "base/herosection";


@use "layout/header";
@use "layout/navbar";

@use "components/equipo";
@use "components/contacto";
@use "components/nuestrostrabajos";
@use "components/servicesection";
@use "components/testimonios";


@use "layout/footer";
@use "layout/mediaquerie"; 











 














  







































 