/* ------------------------------------------Header--------------------------------------------------- */

@use "../utilities/variables" as *; 


header {

background-color: $color-fondo; 
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
position: sticky;
top: 0;
z-index: 100;

}



header img {

width: 150px;

}