/*--------------------------------------------Testimonios------------------------------------------------- */

#testimoniosCarousel .carousel-item p{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
